*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: #555a60;
}
a{
    text-decoration: none;
    color: #555a60 !important;
}
h1{
    font-size: 48px;
    font-weight: 600;
    color: #ff6e6e;
}
h2{
    font-size: 28px;
    font-weight: 600;
}
h3{
    margin: 0;
    font-size: 28px;
    font-weight: 600;
}
.custom-menu ul li{
    margin: 5px;
}
.login{
    background-color: #ff6e6e;
    border-radius: 5px;
    margin: 5px;
    padding: 0 5px;
}
.signup{
    background-color: #64cbff;
    border-radius: 5px;
    margin: 5px;
    padding: 0 5px;
}
.signup a, .login a{
    color: #fff !important;
}
.bg{
    background-image: url(https://i.postimg.cc/3NDp9bvc/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding-top: 50px;;
}
.count div{
    padding: 20px;
}
.count{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.form{
    margin-top: 20px;;
}
.form input{
    margin-top: 10px;;
    width: 60%;
    padding: 5px 15px;
    border-radius: 20px;
    border: none;
    background-color: #c3d7e2;
    outline: none;
}
.form button{
    width: 30%;
    border: none;
    padding: 5px 15px;
    border-radius: 20px;
    background-color: #00c2f4;
    color: #fff;
    outline: none;
    cursor: pointer;
}